/*
Font 'Source Sans Pro' from Google Fonts
https://fonts.google.com/
 */
* {
    font-family: "Source Sans Pro", sans-serif;
}


/* Elements */

a {
    text-decoration: none;
    color: #f0f9ff;
}

body {
    color: #FFF;
    background-color: #6d95a8;
    margin: 0;
}

button, input {
    cursor: pointer;
}

button, input[type=submit], input[type=text], input[type=number], select {
    border-radius: 10px;
    border-width: 3px;
    border-color: #05405c;
    border-style: solid;
    background-color: #f0f9ff;
    font-family: "Source Sans Pro", sans-serif;
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
}

col {
   padding: 5px;
}

h1 {
    text-decoration: underline;
}

h2 {
    font-weight: normal;
}

h3 {
    padding: 0;
}

h3 a {
    text-decoration: underline;
    color: #05405c;
}

header {
    color: #FFF;
    background-color: #05405c;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-size: 40px;
    font-weight: bold;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    outline: 3px solid #05405c;
    vertical-align: middle;
}


label {
    font-size: 20px;
    vertical-align: middle;
}

li a {
    text-decoration: underline;
    color: #05405c;
}

table {
    margin: 20px;
    border-collapse: collapse;
    color: black;
}

tbody {
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: #05405c;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
    background-color: #f0f9ff;
}
tr:nth-child(odd) {
    background-color: #b1d2e3;
}

th {
    background-color: #05405c;
    color: white;
    height: 40px;
    font-size: 18px;
    padding: 8px;
}



/* Classes */

.button_header {
    border-color: #6d95a8;
}

.center {
    text-align: center;
}

.center_div {
    display: flex;
    justify-content: center;
}

.error_display {
    padding: 15px;
    color: darkred;
}

.events_div {
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.header_item {
    padding: 15px 0;
    max-height: 90px;
    width: 480px;
}

.header_item button {
    vertical-align: middle;
}
.header_item_left {
    text-align: left;
    padding-left: 25px;
    vertical-align: middle;
}

.header_item_right {
    padding-right: 25px;
    text-align: right;
    vertical-align: middle;
}

.header_item img {
    vertical-align: middle;
    height: 50px;
}

.header_item h1 {
    position: relative;
}

.message_display {
    color: lightgreen;
    padding: 15px;
}

.prize_item {
    border-style: solid;
    border-color: #05405c;
    border-radius: 5px;
    border-width: 5px;
    padding: 10px;
    margin: 20px auto;
    color: black;
    background-color: #f0f9ff;
    width: fit-content;
}

