* {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    color: #FFF;
    background-color: #6d95a8;
    margin: 0;
}

header {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    background-color: #05405c;
    margin: 0;
}

div {
    padding: 0 20px;
    height: 80px;
}

.left_header {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.center_header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: contour;
}

.center_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.right_header {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
}


button, input[type=submit] {
    border-radius: 10px;
    border-width: 3px;
    border-color: #05405c;
    background-color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    margin: 10px;
    padding: 5px 10px;
}

button, input {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #f0f9ff;
}

.error_display {
    padding: 15px;
    color: darkred;
}

tbody {
    padding: 20px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: #FFFFFF;
}

