<!--
Flask used to render HTML templates (see server.py)
Jinja2 used to execute Python inside of templates
Jinja2 also connects HTML files together (ex. base.html & login.html)
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TrackPack{% endblock %}</title>
    <link rel="stylesheet" href="static\stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/static/backpack_img.png">
</head>
<body>

    <header>

        <a href="{{ url_for('splash_page') }}">
            <div class="header_item header_item_left">
                <img src="/static/backpack_img.png" alt="Home">TrackPack
            </div>
        </a>

        <div class="header_item">
            <a href="{{ url_for('events_page') }}">
                <button class="button_header">Events</button>
            </a>

            <a href="{{ url_for('leaderboard_page') }}">
                <button class="button_header">Leaderboard</button>
            </a>

            <a href="{{ url_for('prizes_page') }}">
                <button class="button_header">Prizes</button>
            </a>

            <a href="{{ url_for('reset_session') }}">
                <button class="button_header">Log Out</button>
            </a>
        </div>

        <a href="{{ url_for('dashboard_page') }}">
            <div class="header_item header_item_right">
                <img src="/static/account_img.png" alt="Account">
            </div>
        </a>

    </header>

    {% block content %}

    <div class="center">
        <h2>Welcome to TrackPack!</h2>
        <p>TrackPack can be used to earn points for every school event that you attend.</p>
        <ul style="display: inline-block; text-align: left;">
            <li>Dashboard displays your tracking progress</li>
            <li>Events page features all of your school's activities</li>
            <li>Leaderboard page shows the top students at your school</li>
            <li>Redeem credits for prizes if you win in the previous quarter!</li>
        </ul>
        <br>
        <a href="{{ url_for('login_page') }}">
            <button class="center">Log In</button>
        </a>
    </div>

    {% endblock %}


</body>
</html>