<!-- Connects event_info.html to base.html -->
{% extends "base.html" %}

<!-- Changes page title -->
{% block title %}Events | TrackPack{% endblock %}

<!-- Picks up where base.html left off -->
{% block content %}
<div class="center">

    <h1>{{ event['name'] }}</h1>
    <h2>{{ event['desc'] }}<br>
    Type: {{ event['type'] }}<br>
    Date: {{ event['date'] }}<br>
    Time: {{ event['time'] }}</h2>


<form method="post">
    <input type="checkbox" id="confirm_attend" name="confirm_attend">
    <label for="confirm_attend">I certify I attended this event</label>
    <input type="submit">
</form>

<p class="error_display">{{ confirm_error }}</p>

<a href="{{ url_for('events_page') }}">
    <button>
        Back to Events
    </button>
</a>
</div>
{% endblock %}
