<!-- Connects events.html to base.html -->
{% extends "base.html" %}

<!-- Changes page title -->
{% block title %}Events | TrackPack{% endblock %}

<!-- Picks up where base.html left off -->
{% block content %}

<h2>Events & activities</h2>

{% for event in events_data %}

<a href="{{ url_for('events_page', num=event['num']) }}">
    <button>
        {{ event['name'] }}<br>
        Type: {{ event['type'] }}<br>
        Date: {{ event['date'] }}<br>
    </button>
</a>

{% endfor %}

{% endblock %}