<!-- Connects leaderboard.html to base.html -->
{% extends "base.html" %}

<!-- Changes page title -->
{% block title %}Leaderboard | TrackPack{% endblock %}

<!-- Picks up where base.html left off -->
{% block content %}

<table>

    <tr>
        <th>Position</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Grade Level</th>
        <th>Events Attended</th>
        <th>Points</th>
        <th>Winner</th>
    </tr>

    {% for student in users_data %}

    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ student['first_name'] }}</td>
        <td>{{ student['last_name'] }}</td>
        <td>{{ student['grade_level'] }}</td>
        <td>{{ student['num_attended'] }}</td>
        <td>{{ student['points'] }}</td>
        <td>{{ student.get('winner', "") }}</td>
    </tr>

    {% endfor %}

</table>

<form name="archive" method="post">

    <input type="submit" name="btn" value="Archive">

</form>

<form name="qy_form" method="post">

    <select id="select_qy" name="select_qy">
        {% for item in qy_list %}
            <option value="{{ item[1] }}">{{ item[0] }}</option>
        {% endfor %}
    </select>

    <input type="submit" name="btn" value="Select">

</form>


{% endblock %}