<!-- Connects leaderboard.html to base.html -->
{% extends "base.html" %}

<!-- Changes page title -->
{% block title %}Leaderboard | TrackPack{% endblock %}

<!-- Picks up where base.html left off -->
{% block content %}


<table>
    <tr>
        <th>Position</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Events Attended</th>
        <th>Points</th>
    </tr>

    {% for student in users_data %}

    {{ top_student = student }}

    {% for student_chk in users_data %}
        {% if student_chk['points'] > top_student['points'] %}

        {{ top_student = student_chk }}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ student['first_name'] }}</td>
        <td>{{ student['last_name'] }}</td>
        <td>{{ student['num_attended'] }}</td>
        <td>{{ student['points'] }}</td>
    </tr>

    {% endfor %}

</table>


{% endblock %}