<!-- Connects prizes.html to base.html -->
{% extends "base.html" %}

<!-- Changes page title -->
{% block title %}Prizes | TrackPack{% endblock %}

<!-- Picks up where base.html left off -->
{% block content %}

<div class="center">
    <h1>Prizes</h1>

    <h2>Your credits: <b>{{ session['credits'] }}</b></h2>

    <h3 class="message_display">{{ message }}</h3>
    <h3 class="error_display">{{ error }}</h3>
</div>

<div class="center_div" style="align-items: center">
    <form method="post">

        {% for prize in prizes %}
        <div class="prize_item center">
            <img src="{{ prize['img_url'] }}">
            <h3>{{ prize['name'] }}</h3>
            {{ prize['desc'] }}<br>
            Type: {{ prize['type'] }}<br>
            <label>
                <input type="radio" name="prize_select" value="{{ prize['credits'] }}">
                    Credits: {{ prize['credits'] }}<br>
            </label>
        </div>
        {% endfor %}

        <div class="center">
            <input type="submit" name="btn">
        </div>
    </form>
</div>

{% endblock %}