<!-- Connects prizes.html to base.html -->
{% extends "base.html" %}

<!-- Changes page title -->
{% block title %}Prizes | TrackPack{% endblock %}

<!-- Picks up where base.html left off -->
{% block content %}

<h2>Prizes</h2>

<h4>Your credits: {{ session['credits'] }}</h4>

<h4>{{ message }}</h4>
<h4>{{ error }}</h4>

<form method="post">

    {% for prize in prizes %}
    <div>
        <img src="{{ prize['img_url'] }}">
        {{ prize['name'] }}<br>
        {{ prize['desc'] }}<br>
        Type: {{ prize['type'] }}<br>
        <label>
            <input type="radio" name="prize_select" value="{{ prize['credits'] }}">
                Credits: {{ prize['credits'] }}<br>
        </label>
    </div>
    {% endfor %}
        <input type="submit" name="btn">

</form>

{% endblock %}